@import "../../layout/header/_header.scss";

@import "../../layout/footer/_footer.scss";

@import "../../components/paginations/_pagination.scss";

@import "../../routing-components/products-category/hero-banner/_herobanner.scss";

@import "../../routing-components/products-category/_productcategory.scss";

@import "../../routing-components/products-category/filter-section/_filter.scss";

@import "../../routing-components/products-category/product/_product.scss";

@import "../../routing-components/single-product/images-container/_productimages.scss";

@import "../../routing-components/single-product/summary-container/_productsummary.scss";

@import "../../routing-components/single-product/description-container/_productdescription.scss";

@import "../../routing-components/shopping-cart/added-products/_addedproduct.scss";

@import "../../routing-components/shopping-cart/price-summary/_pricesummary.scss";

@import "../../routing-components/shopping-cart/shipping-section/_shippingsection.scss";


@import "../../routing-components/products-category/_productcategory.scss";

@import "../../routing-components/shopping-cart/_shoppingcart.scss";


.logo {
    text-align-last: center;

    font-size: 27px;
    letter-spacing: 10px;

    .right-slash {
        font-size: 30px;
        font-weight: bold;
        color: #5C87FF;
        letter-spacing: 0px;

    }

    .left-slash {
        font-size: 30px;
        font-weight: bold;
    }
}

.center {
    text-align: center;
    text-align: -webkit-center;
}

.padding14 {
    padding: 14px;
}

.flex {
    display: flex;
}


@media screen and (min-width: 1200px) {



    .tab-hide {
        display: initial;
    }

    .tab-show {
        display: none;
    }
}



@media screen and (min-width: 768px) {


    .phone-show {
        display: none !important;
    }

    .phone-hide {
        display: initial !important;

    }
}

@media screen and (max-width: 768px) {


    .phone-show {
        display: initial !important;
    }

    .phone-hide {
        display: none !important;

    }
    .phone-center{
        text-align: center !important;
    
    }


}


@media screen and (max-width: 1200px) {

    .tab-hide {
        display: none !important;
    }

    .tab-show {
        display: initial !important;
    }

    .tab-center{
        text-align: center !important;
    
    }
}


.shadow {
    box-shadow: 0px 8px 16px #00000026;

}


.border-inside-bottom-3{
    border-bottom: 3px inset;
}

.border-inside-bottom-2{
    border-bottom: 2px inset;
}
.border-inside-bottom-1{
    border-bottom: 1px inset;
}
.msg{
    font: normal normal 600 20px/25px mul-regular;
    text-align: center;

}

.right{
text-align: right;

text-align: -webkit-right;

}

.left{
    text-align: left;
    
    text-align: -webkit-left;
    
    }


    .select-form{
        border: 2px solid var(--gray-l2);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #B5B7BC;
border-radius: 8px;
width: 254px;
height: 44px;
    }


    .loadingsection{
        position: fixed;
                z-index: 1000;
        background-color: white;
        opacity: 0.6;
        height: -webkit-fill-available;
        width: 100%;
        text-align: -webkit-center;
        img{
        }
    }


   

    
@font-face {
    font-family: mul-regular;
    src: url("../fonts/muli/muli/Muli-Regular.ttf");
  }
  
  @font-face {
    font-family:mul-semibold;
    src: url("../fonts/muli/muli/Muli-SemiBold.ttf");
  }
  @font-face {
    font-family: mul-bold;
    src: url("../fonts/muli/muli/Muli-Bold.ttf");
  }
  
  
  @font-face {
    font-family: SourceSeri-bold;
    src: url("../fonts/source-serif-pro/SourceSerifPro-Semibold.otf");
  }
 